@model Models.House

@{
    ViewData["Title"] = "Result";
}

<h1>Result</h1>

<p/>Result</p>
@ViewBag.message
@*<div>
    <h4>House</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Stark)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Stark)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Lannister)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Lannister)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Bolton)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Bolton)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tully)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Tully)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Targaryen)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Targaryen)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Result)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Result)
        </dd>
    </dl>
</div>*@
